@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Customer Name</th>
            <th>Customer e-mail</th>        
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
              
            </tr>
        }

    </table>

